.overlay {
  .overlay-back,
  .overlay-dismiss {
    .position(absolute, 0, auto, auto, auto, 3em, 3em);
    text-align: center;
    text-decoration: none;
    z-index: 1;

    [class^="icon-"],
    [class*=" icon-"] {
      color: @color-medium-well;
      font-size: 1em;
      line-height: 48px;
    }
  }

  .overlay-back { left: 0; }
  .overlay-dismiss { right:0; }

  .title-page {
    .font-s2-alt;
    .type-secondary;
    .title-caps;
    .ellipsized;
    .position(absolute, 0, 0, auto, 0, auto, 3rem);
    line-height: 3rem;
    text-align: center;
  }

  .wrapper-heading {
    .position(absolute, 15%);
    .transform(translate3d(0, -50%,0));
    text-align: center;
    padding: 0 1.25rem;
  }

  .wrapper-body {
    .position(absolute, 39.2%);
    .transform(translate3d(0, -50%,0));
    text-align: center;
    padding: 0 1.25rem;
  }

  .title-overlay {
    .font-l2;
    .type-bold;
    color: @color-full;
    line-height: 1;
    margin-bottom: .5rem;
  }

  .subtitle-overlay {
    .font-m1;
    line-height: 1.5;
    color: @color-well;
  }

  .body-overlay {
    .font-m1;
    line-height: 1.5;
    color: @color-well;
    text-align: left;
  }

  .wrapper-form {
    text-align: center;
    margin: 10rem 10%;
    @media screen and (min-width: 30em) { margin: 10rem 10%; }
  }
  
  label {
    .font-s3;
    .type-bold;
    display: block;
    margin-bottom: 0;
    padding-left: 0rem;
  }

  input {
    height: 2.5rem;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-signin { 
    .position(relative, auto, 0, 12rem, 0, 100%);
    //font-size: 1rem;
    width: 80%;
    margin: 10%;
    background-color: @color-primary;
  }
  .wrapper-social { 
    .position(relative, auto, 0, 10rem, 0, 100%);
    //font-size: 1rem;
    width: 80%;
    margin: 10%;
    text-align: center;
  }
  .btn-social {
    background-color: @color-well;
    width: 30%;
    margin-left: 1%;
  }
  .btn-primary {
    .position(absolute, auto, 0, 0, 0, 100%);
  }
}
