<template name="authOverlay">
  <div class="overlay auth">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay">丰巢优选</div>
      <div class="subtitle-overlay">安心食材新鲜送，营养食谱制作易</div>
    </div>
    <form>
      <div class="wrapper-form">
        <input type="email" name="emailAddress" placeholder="手机／电子邮件">
        <input type="password" name="password" placeholder="请输入密码">
      </div>
      <button class="js-signin btn-signin">登录丰巢</button>
      <div class="wrapper-social">
        <div>
          用合作账号登陆
          &nbsp;&nbsp;
          <span class="icon-weibo js-weibo" style="font-size: 1.68rem; color:#e6172c"></span>
          &nbsp;&nbsp;
          <span class="icon-twitter" style="font-size: 1.68rem; color:#55aeed"></span>
          &nbsp;&nbsp;
          <span class="icon-wechat" style="font-size: 1.68rem; color:#2cab13"></span>
        </div>
      </div>
    </form>
  </div>
</template>
