<template name="authOverlay">
  <div class="overlay auth">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay">登录会员</div>
      <div class="subtitle-overlay">评论 收藏 分享 积分 必须的</div>
    </div>
      <form>
        <div class="wrapper-form">
          <input type="email" name="emailAddress" placeholder="电子邮件">
          <input type="password" name="password" placeholder="登录密码">
        </div>
        <button class="js-signin btn-signin">登录／注册</button>
        <div class="wrapper-social">
          <div id="social-tips">您也可以通过以下账号直接登陆</div>
          <div>&nbsp;</div>
          <span class="icon-weibo js-weibo" style="font-size: 2.4rem; color:#e6172c"></span>
          &nbsp;&nbsp;&nbsp;
          <span class="icon-twitter js-twitter" style="font-size: 2.4rem; color:#55aeed"></span>
          &nbsp;&nbsp;&nbsp;
          <span class="icon-wechat js-wechat" style="font-size: 2.4rem; color:#2cab13"></span>
        </div>
      </form>
  </div>
</template>
