<template name="home">
  <div class="page home">

    <!--{{>nav title='Local Market' black=true}}-->
    {{#nav title='Local Market' black=true back=false}}
      {{#if currentUser}}
        <a href="#" class="nav-item js-signout"><span class="icon-weibo"></span></a>
      {{else}}
        <a href="#" class="nav-item js-signin"><span class="icon-weibo"></span></a>
      {{/if}}
    {{/nav}}


    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Local Market"/>
        </h1>
        <span class="hours"><span class="title-callout">营业时间</span>
        一至五 9-7pm, 周末 10-6pm</span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">快讯</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">健康美味进行时</h2>
      <div class="list-subtitle">看看邻居们正在做什么</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">来做第一个发表美食日记的人吧!</div>
            <div class="subtitle-message">Share that you made a recipe and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">See what's cooking</a>

      <h2 class="list-title">Our Favorite Recipes</h2>
      <div class="list-subtitle">Hand-picked by neighborhood chefs</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>
    </div>

  </div>
</template>
