<!--
<template name="signInWithEmail">
<form id="sign-in-with-email">
  <div class="modal-body">
    <div class="form-group">
      <input type="email" name="emailAddress" class="form-control" placeholder="请输入电子邮件">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="请输入密码">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-create-account">新建帐户</button>
    <button type="submit" class="btn-default btn-sign-in">登录账户</button>
  </div>
</form>
</template>
-->

<template name="user">
  <div id="sign-in">
    <a href="/" class="back-desktop"><span class="icon-arrow-left-alt"></span>返回</a>
    <div class="wrapper-note">
      <h1 class="title-note">请先登录</h1>
      <form id="sign-in-with-email">
        <label>保存食谱，分享爱意更加容易</label>
        <input type="email" name="emailAddress" class="form-control" placeholder="请输入电子邮件">
        <input type="password" name="password" class="form-control" placeholder="请输入密码">
        <button type="submit" class="btn-primary btn-create-account">新建帐户</button>
        <button type="submit" class="btn-primary btn-sign-in">登录账户</button>
      </form>
    </div>
  </div>
</template>
